
@model TempForCats2.Models.ArticleModel

    <div class="article">
        <h3> @Model.Title </h3>
        <p class="date"> <span>@Model.Date.ToString("D") </span> <span> @Model.Date.ToString("hh:mm") </span> </p>

        <div class="textfield">
            <p> @Model.Body </p>

        </div>
    </div>

    <div class="other posts">
        <p align="center">
            @Html.ActionLink("Click here to see all postst", "AllPosts")
        </p>
    </div>

    <div class="fullcomments">
        <h2>Comments: </h2>

        <ul>
            @foreach (var item in Model.Comments) { 
            <li>
                <div class="avatar"> <img src="~/Content/cat2.jpg" alt="Avatar"> </div>
                <div class="textcomment">
                    <p> @item.Username </p>
                    <p class="date"> @item.Date.ToString("D") @item.Date.ToString("hh:mm")</p>
                    <p> @item.Body </p>

                </div>
            </li>
            } 
        </ul>
    </div>

  @Html.Partial("~/Views/Home/AddComment.cshtml", null, new ViewDataDictionary())
